﻿@model FizzBuzz.Web.ViewModels.FizzBuzzViewModel
@using PagedList.Mvc

@{
    ViewBag.Title = "FizzBuzz";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div>
    <h2>FizzBuzz Web Application</h2>
    @using (Html.BeginForm("GetList", "FizzBuzz", FormMethod.Post))
    {
        @Html.AntiForgeryToken()
        
        @Html.DisplayNameFor(m => m.Number)
        @Html.TextBoxFor(m => m.Number)

        <input type="submit" value="Display" />
    <div>
        @Html.ValidationMessageFor(m => m.Number)
    </div>
    }
</div>
@if (Model != null && Model.ResultList != null && Model.ResultList.Any())
{
    <ul>
        @foreach (var result in Model.ResultList)
    {
        <li>@foreach (var word in result.Split(' '))
            {
                <p class="@word">@word</p>
            }
        </li>
        }
    </ul>
<div>
    @Html.PagedListPager(Model.ResultList, page => Url.Action("GetList", new { page, number = Model.Number }),
            new PagedListRenderOptions() { Display = PagedListDisplayMode.IfNeeded,LinkToPreviousPageFormat = "Previous",LinkToNextPageFormat = "Next" })
</div>

}
